FinalProject/storage/dataStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/dataStructure" xmlns:tns="http://www.example.org/dataStructure" elementFormDefault="qualified">

    <complexType name="Client">
    	<sequence>
    		<element name="ClientID" type="string"></element>
    		<element name="CompanyName" type="string"></element>
    		<element name="PhoneNumber" type="int"></element>
    		<element name="Email" type="string"></element>
    		<element name="RefrencePersonName" type="string"></element>
    		<element name="Address" type="string"></element>
    	</sequence>
    </complexType>
</schema>